APP_ENV=development
SECRET_KEY=change-me
INTERVIEWMATE_DISABLE_WHISPER=false
INTERVIEWMATE_DISABLE_T5=false
WHISPER_MODEL_PATH=C:\path\to\whisper-large-paksouth
FLAN_T5_MODEL_PATH=C:\path\to\interviewmate_flanT5_final
PIPER_EXE_PATH=C:\path\to\piper.exe
PIPER_MODEL_PATH=C:\path\to\en_US-amy-medium.onnx
D_ID_ENABLED=false
D_ID_API_KEY=
